@media (min-width: 320px) and (max-width: 768px){
  nav ul li a{
      display: none;
  }
}
@media (min-width: 769px){
    nav ul li a{
        margin-left: -20px;
    }
}
/* @media (min-width: 501px) and (max-width: 768px){
    nav ul li a{
        font-size: 12px;
    }
    nav ul li{
        margin-left: -20px;
    }
} */



nav ul{
    display: inline-block;
}
nav ul li{
    display: inline-block;
    margin: 50px;
}
nav ul li a{
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: yellowgreen;
    font-weight: bold;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: violet;
    border-bottom: 2px solid violet;
    text-decoration: none;
    transition: 0.5s;
}